* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* ----------     Página del index Start ---------------*/

/* Seccion del Header Start */
.header {
    background-color: #074511;
    padding: 20px 0;
}

.header img {
    max-width: 150px;
    height: auto;
}

.header .btn-success {
    background-color: #28a745;
    border-color: #28a745;
}
/* Seccion del Header End */

/* Seccion de los botones Start */
.btn-paginas {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.btn-paginas .btn {
    outline: none;
    margin: 0 1rem;
    padding: 10px 20px;
    transition: background-color 0.2s ease-in-out;
    background-color: #28a745;
    color: #fff;
}

.btn-paginas .btn:hover {
    background-color: #34d05b;
}
/* Seccion de los botones End */

/* Seccion del carrusel Start */
.carousel-item img {
    max-height: 700px;
    object-fit: cover;
}
/* Seccion del carrusel End */

/* Seccion de los productos Start */
.section-lista-productos {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.section-lista-productos h1 {
    color: #343a40;
}

.card {
    border: none;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    max-height: 650px;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
/* Seccion de los productos End */

/* Footer Start */
.footer {
    background-color: #074511;
    color: #fff;
    padding: 20px;
    bottom:0;
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer .redes-sociales {
    margin-top: 20px;
}

.footer .redes-sociales img{
    width: 30px;
    margin-right: 10px;
}

.footer .redes-sociales li {
    display: inline-block;
    margin-right: 15px;
}

.footer .redes-sociales a {
    font-size: 24px;
}

.footer .copyright {
    text-align: center;
    margin-top: 20px;
}
/* Footer End */

/* ----------     Página del index End ---------------*/

/* ----------     Página de ver producto Start ---------------*/
.imagen-producto{
    width: 550px;
    height: 700px;
  }
/* ----------     Página de ver producto End ---------------*/

/* ----------     Página de ver lista de proteinas Start ---------------*/
.titulo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

/* ----------     Página de ver lista de proteinas Start ---------------*/
.titulo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

.seccion-lista-proteinas{
    padding: 85px;
}

.seccion-lista-proteinas img{
    max-width: 100px;
}
/* ----------     Página de ver lista de proteinas End ---------------*/

